.Footer{
    width: 100vw;
    height: 100%;
    background-color: #022644;
}

.roww{
    margin-top: 30px;
}

.Smedia{
    text-align: center;
}

.style{
    text-decoration: none !important;
    color: white !important;
}